BASE_URL=https://api.zedu.chat/api/v1
GEN_PASSWORD=ValidPass321
WRONG_EMAIL=nonexistent@fake.com
WRONG_PASSWORD=WrongPassword444
INVALID_EMAIL=invalidemail
NUMERIC_EMAIL=12345678
EMAIL_INJECTION=' OR '3'='3
EMAIL_DOMAIN=@example.com
INVALID_TOKEN=invalidtoken123456
FAKE_USER_ID=00000000-2222-0000-1111-000000000000
SPECIAL_CHAR_USER_ID=!@#$%^
TIMEOUT=10000